Makefile
config.log
config.status
libtool
m4/olibc.m4
man/Makefile
olibc
scripts/Makefile
scripts/*-config
scripts/*.pc
src/Makefile
*.lo
*.la
*.o
src/oc_type.h
src/olibc-config.h
src/stamp-h1
src/stamp-h2
test/Makefile
*.diff
*~
*.swp
*.ln
.libs
test/CharsetConv
test/PregGrep
test/PregMatch
test/PregQuote
test/PregReplace
test/addslashes
test/argvMake
test/bindec
test/binhex
test/caseSensitive
test/charset
test/fileExists
test/getWhitespace
test/humanSize
test/microtime
test/oGetopt
test/punycode
test/readfile
test/realpath_r
test/setansi
test/split
test/str2long
test/trim
